* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ID */

/* Background */
#my_top_background {
    background-color:  #009688;
    height: 15vh;
}

#my_bottom_background {
    background-color:  #eff1ec;
    height: 85vh;
}

/* Main app */
#my_app_container {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#my_chats_box {
    border: 1px solid red;
    height: 90vh;
}

#my_active_chat {
    border: 1px solid blue;
    height: 90vh;
}