* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_top_image_container {
    width: 10%;
}

.my_notify_image_container {
    width: 50px;
    height: 50px;
    border-radius: 2em;
    background-color: white;
}

.my_top_image_container img {
    width: 100%;
    border-radius: 2em;
}

.fas.fa-bell-slash {
    font-size: 1.5rem;
    color: rgb(32, 193, 247);
}

.notifications {
    height: 8vh;
    background-color: rgb(32, 193, 247);
}

.btn.btn-outline-secondary {
    background-color: white;
}

.btn.btn-outline-secondary:hover {
    color:black
}



/* ID */

/* Background */
#my_top_background {
    background-color:  #009688;
    height: 15vh;
}

#my_bottom_background {
    background-color:  #eff1ec;
    height: 85vh;
}

/* Main app */
#my_app_container {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#my_chats_box {
    border: 1px solid red;
    background-color: white;
    height: 94vh;
}

#my_active_chat {
    border: 1px solid blue;
    height: 94vh;
}

#my_user_bar {
    background-color: #eff1ec;
    height: 6vh;
}

#my_username {
    font-weight: bold;
}



